{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}  Принятие решений: раунд {{ current_round }} из {{ Constants.num_rounds }}  {% endblock %}

{% block content %}
    {% include 'PG_threshold/Instructions.html' %}

 <p>
<!--    <b>Это игра на создание общественного блага.</b> -->

    В каждой группе по {{ Constants.players_per_group }} участника,
    случайным образом разбитые на равные группы. Состав групп не меняется на
    протяжении всей игры.

     <br> <br>

     Каждая единица на личном счету приносит 1 евро лично данному участнику.

    <br>

    Каждая единица на общем счету ничего не приносит и теряется для вас навсегда, однако эти взносы позволяют группе застраховаться
    от <b>Потери</b>, если сумма взносов группы на общий счет на конец игры составит по крайней мере {{ Constants.threshold }}.
    Если потеря произойдет, 75% личного счета каждого из вас пропадут, и на нем останутся только 25%. Если она не произойдет,
     вся сумма на личном счету останется у вас.

     Вероятность <i>не</i>наступления <b>Потери</b> пропорциональна доле от целевой суммы в  {{ Constants.threshold }}, которую
     ваша группа сумеет набрать к концу игры.
     <br> <br>

    Ваша цель - максимизировать ваш собственный доход, который в каждом раунде
    формируется как

    <br>

    <i>Доход = (100 - Ваш взнос на общий счет) * 0.25 * Prob(потеря) + (100 - Ваш взнос на общий счет) * (1-Prob(потеря))</i>

    <br><br>
</p>


{% formfield player.contribution with label="Сколько Вы внесете на общий счет?" %}

{% next_button %}

{% endblock %}

