#box_0 {
    background-color: #ddd;
    
    font-size: 64px;
    text-align: center;
    transition: .5s;
    border-radius: 2px;
    cursor: pointer;
}
#box_0:hover {
    background-color: #9ac1ff;
}
#box_1 {
    background-color: #bbb; 
    
    font-size: 32px;
    text-align: center;
    transition: .5s;
    border-radius: 2px;
    cursor: pointer;
}
#box_1:hover {
    background-color: #9ac1ff;
}
#box_2 {
    background-color: #888;
    
    font-size: 16px;
    text-align: center;
    transition: .5s;
    border-radius: 2px;
    cursor: pointer;
}
#box_2:hover {
    background-color: #9ac1ff;
}
#box_3 {
    background-color: #555;
    margin-bottom: -450px; 
    font-size: 8px;
    text-align: center;
    transition: .5s;
    border-radius: 2px;
    cursor: pointer;
}
#box_3:hover {
    background-color: #9ac1ff;
}





#box_0_guess {
    background-color: #ddd;
    border-radius: 2px;
    cursor: pointer;
}
#box_1_guess {
    background-color: #ddd; 
    border-radius: 2px;
    cursor: pointer;
}
#box_2_guess {
    background-color: #ddd;
    border-radius: 2px;
    cursor: pointer;
}
#box_3_guess {
    background-color: #ddd;
    margin-bottom: -550px; 
    border-radius: 2px;
    cursor: pointer;
}






#box_0_result {
    background-color: #ddd;
    font-size: 64px;
    text-align: center;
    border-radius: 2px;
}
#box_1_result {
    background-color: #bbb;
    font-size: 32px;
    text-align: center;
    border-radius: 2px;
}
#box_2_result {
    background-color: #888;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
}
#box_3_result {
    background-color: #555;
    margin-bottom: -450px; 
    font-size: 8px;
    text-align: center;
    border-radius: 2px;
}


#pick_box, #pick_box_legend {
    background-color: #00f;
    width: 32px;
    height: 6px;
    border-radius: 2px;
    transform: rotate(45deg);
}
#pick_box_2, #pick_box_legend_2 {
    background-color: #00f;
    width: 32px;
    height: 6px;
    border-radius: 2px;
    transform: rotate(135deg);
}
#pick_box_legend_2 {
    transform: rotate(90deg);
}

#guess_box, #guess_box_legend {
    background-color: #88f;
    width: 32px;
    height: 6px;
    border-radius: 2px;
    transform: rotate(45deg);
}
#guess_box_2, #guess_box_legend_2 {
    background-color: #88f;
    width: 32px;
    height: 6px;
    border-radius: 2px;
    transform: rotate(135deg);
}
#guess_box_legend_2 {
    transform: rotate(90deg);
}
#picked_box_form, #result_form, #box_0_coordinates_form, #coords_box {
        font-size: 32px;
        background-color: transparent;
        border-width: 0;
        width: 100%;
        margin: 0 0 4px 0;
        color: #444;
    }