{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Итоговое голосование
{% endblock %}

{% block styles %}
    <link href="{% static "reform_AB/style.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="show">
        <b>
            {% if reformed_previous_round == 1 %}
                {% if total_approvals_previous_round < 3 %}
                    <p>В предыдущем раунде к вам должна была быть применена реформа, но так как её поддержали менее трёх
                        человек, реформа применена не была.</p>
                {% else %}
                    <p>В предыдущем раунде к вам была применена реформа, поддержанная тремя или более участниками.</p>
                {% endif %}
            {% endif %}
        </b>

        {% if subsession.round_number != 1 %}

            <p>
                В предыдущем раунде реформа была поддержана {{ total_approvals_previous_round }} людьми.
                <br />
                В предыдущем раунде ваша прибыль составила {{ player_payoff_in_previous_round }}.
                <br />
            </p>

        {% endif %}


            <p>
                За все предыдущие раунды ваша прибыль составила {{ player_payoff }}.
                <br />
                Реформы завершены - вам остается одобрить их или же не одобрить.
            </p>


{#        {% if reformed_this_round == 1 %}#}
{##}
{#            <p>#}
{#                Реформа, предложенная в этом раунде, затрагивает вас: если она будет принята, в каждом следующем раунде вы будете получать на#}
{#                {{ Constants.reform_penalty }} единиц меньше. Каждый из оставшихся участников в вашей группе будет получать на#}
{#                {{ Constants.reform_benefits }} единиц больше в каждом следующем раунде.#}
{#                <br />#}
{#                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.#}
{#            </p>#}
{#            <br />#}
{#        {% else %}#}
{#            <p>#}
{#                Реформа, предложенная в этом раунде, не затрагивает вас -- реформирован будет другой участник, и в результате этого в#}
{#                каждом следующем раунде он будет получать на {{ Constants.reform_penalty }} единиц меньше. Каждый из остальных участников в вашей группе,#}
{#                включая вас, будет получать на {{ Constants.reform_benefits }} единиц больше в каждом следующем раунде.#}
{#                <br />#}
{#                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.#}
{#            </p>#}
{#            <br>#}
{#        {% endif %}#}

        <a href="#show" id="open"><div class="btn btn-primary btn-large">Далее</div></a>
        <div id="content">

            <!--<p>-->
                <!--Пожалуйста решите, поддерживаете ли вы реформу, в этом раунде. Поддержка стоит {{ Constants.approval_cost }} очка.-->
            <!--</p>-->

            {% formfield player.approval_final with label="Одобряете ли вы все реформы?" %}
            <br>
            <p>
                Вы можете отметить, до какой степени вы одобряли или нет стратегию реформ в целом, двигая слайдер от 0 (крайне не одобряю) до 5 (полностью одобряю).
                Эта информация ничего вам не стоит, и не влияет на ход реформ - просто выразите свое отношение.
                Пожалуйста, обязательно сдвиньте слайдер - даже если вы хотите оставить его на исходной позиции.
            </p>

            {% formfield player.vote_to_overthrow with label="" %}

            {% next_button %}

        </div>

    </div>


{% endblock %}
