{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Вступление
{% endblock %}

{% block styles %}

    <style>
        .solidarity {
            display: inline-block;
            width: 30px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}

    <p>
        Участники разбиваются на анонимные группы по 5 человек, каждый из которых получает полезность 10 единиц за период.
    </p>

    В каждый период Государство инициирует реформу, которая уменьшает полезность кого-то одного из вас на 2.5 единицы, и
    увеличивает полезность всех остальных на 1 единицу. Выбор того участника, которого она коснется с уменьшением полезности,
    случаен в каждом периоде, однако каждого из вас реформа может коснуться только один раз.
    <p>
    Участники в игре принимают два решения, которые также влияют на их полезность. Первое – они независимо друг от друга
    голосуют за проведение реформы или против него. Если против реформы проголосует большинство, она не состоится.
    </p>
    <!--<p>-->
    <!--<div class="solidarity">0</div><div class="solidarity">1</div><div class="solidarity">2</div><div class="solidarity">3</div><div class="solidarity">4</div><div class="solidarity">5</div>-->
    <!--</p>-->
    <!--<p>-->
    <!--<div class="solidarity">{{ zero }}</div><div class="solidarity">{{ one }}</div><div class="solidarity">{{ two }}</div><div class="solidarity">{{ three }}</div><div class="solidarity">{{ four }}</div><div class="solidarity">{{ five }}</div>-->
    <!--</p>-->
    <!--<p>-->
    Если реформу на каком-то шаге отвергли, то игроки получают те же выигрыши, что и в предыдущем периоде, и голосуют далее за
        следующие реформы.

    В самом конце все участники голосуют за поддержку всей стратегии реформ или смену власти. В первом случае все получают то что
    полагалось по итогам реформы. Во втором случае - изначальный выигрыш, умноженный на 5 периодов.
    <!--</p>-->


    {% next_button %}

{% endblock %}
