{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Решения
{% endblock %}

{% block styles %}
    <link href="{% static "reform/style.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="show">

        {% if subsession.round_number != 1 %}

            <p>
                В предыдущем раунде реформа была поддержана {{ total_approvals }} людьми.
                <br />
                В предыдущем раунде ваша прибыль составила {{ player_payoff_in_previous_round }}.
                <br />
                За все предыдущие раунды ваша прибыль составила {{ player_payoff }}.
                <br />
                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.
            </p>

        {% endif %}

        {% if reformed_this_round == 1 %}

            <p>
                В этот раунде реформа затронула вас, и в результате этого в каждом следующем раунде вы будете получать на {{ Constants.reform_penalty }} очков меньше, вплоть до смены режима. Каждый остальной игрок в вашей группе будет получать на {{ Constants.reform_benefits }} очков больше в каждом следующем раунде, вплоть до смены режима.
                <br />
                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.
            </p>
            <br />
        {% else %}
            <p>
                В этом раунде раформа вас не затронула -- другой игрок был реформирован, и в результате этого в
                каждом следующем раунде он будет получать на {{ Constants.reform_penalty }} баллов меньше, вплоть до смены режима. Каждый остальной игрок в вашей группе, включая вас, будет получать на {{ Constants.reform_benefits }} баллов больше в каждом следующем раунде, вплоть до смены режима.
                <br />
                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.
            </p>
            <br>
        {% endif %}

        <a href="#show" id="open"><div class="btn btn-primary btn-large">Далее</div></a>
        <div id="content">

            <!--<p>-->
                <!--Пожалуйста решите, поддерживаете ли вы реформу, в этом раунде. Поддержка стоит {{ Constants.approval_cost }} очка.-->
            <!--</p>-->

            {% formfield player.approval with label="Одобряете ли вы эту реформу?" %}
            <br>
            <p>
                Вы можете одобрить или нет стратегию реформ в целом, двигая слайдер от 1 (совсем не одобряю) до 5 (полностью одобряю).
            </p>

            {% formfield player.vote_to_overthrow with label="" %}

            {% next_button %}

        </div>

    </div>


{% endblock %}
